{% extends 'AqeelShop/basic.html' %}

{% block title%} About Us - My Awesome Cart{% endblock %}

{% block body%} 


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">My Awesome Cart</h1>
        <p>The page provides insights into your brand's story, mission, values, and team members .Use engaging storytelling techniques to connect with visitors on a personal level and convey your brand's personality.Highlight key milestones, achievements, and unique selling points that set your brand apart from competitors.Include photos or videos of your team and workplace to add authenticity and humanize your brand.
       </p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Product Descriptions</h2>
          <p>Detailed and accurate product descriptions are essential for informing customers about the features, specifications, and benefits of each product. Use clear and concise language to describe the product's attributes and highlight its unique selling points. </p>
          <p><a class="btn btn-secondary" href="/AqeelShop/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>24/7 Availability</h2>
          <p>An e-commerce website allows customers to browse and make purchases at any time of the day or night, providing unparalleled convenience and accessibility. This round-the-clock availability ensures that you can generate sales even when your physical store is closed, maximizing revenue opportunities. </p>
          <p><a class="btn btn-secondary" href="/AqeelShop/contact" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Trust and Confidence</h2>
          <p>Offering order tracking demonstrates reliability and professionalism, instilling trust and confidence in your brand. Customers are more likely to make repeat purchases and recommend your e-commerce website to others if they have a positive experience with order tracking.</p>
          <p><a class="btn btn-secondary" href="/AqeelShop/tracker" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  
  <footer class="container">
    <p>&copy; Company 2017-2020</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
  </html>
  
  
{% endblock %}